#mainframe {
    margin:auto;
    margin-top:5vh;
    width: 97vw;
    height: 90vh;
    background-color:black;
}

p {
    color:white;
    font-size:9rem;
}
body {
    margin:0;
    background-color:black;
}

html{
    margin:0;
    overflow-x:hidden;
}

.maintext{
    margin:0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
}

.title {
    margin:0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 5rem;
}



.address{
    padding-top:0.5vh;
    margin:0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1rem;
}


#leftcolumn {
    width:11vw;
    height:100%;
    float: left;
    position: relative;
   
}
#logo{
    
    width:100%;
    height:30%;
    /* background-color:aquamarine; */
}
#info {
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height:10%;
    /* background-color:blueviolet; */
}

#middlecolumn {
    width:27vw;
    height:100%;
    float: left;
    background-color: rgb(196, 121, 24);
}

#rightcolumn {
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
    overflow-y:auto;
    width:57vw;
    height:100%;
    float: left;
    background-color: rgb(69, 14, 197);
}

#rightcolumn::-webkit-scrollbar {
    display: none;
  }

